{% extends "base.html" %}
{% load extras %}
{%block title%} - {{jobAttempt.task.stage.workflow.name}}{%endblock%}
{%block content%}


<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.task.stage.workflow.url }}">{{jobAttempt.task.stage.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.task.stage.url }}">{{jobAttempt.task.stage}}</a><span class="divider">/</span></li>
  <li><a href="{{jobAttempt.task.url }}">{{jobAttempt.task}}</a><span class="divider">/</span></li>
  <li class="active">{{jobAttempt}}</li>
</ul>

{% include "JobManager/JobAttempt/jobattempt.html" %}

{%endblock%}