{% extends "base.html" %}
{%block content%}
{% with task=taskfile.task %}

<div class="box-content">
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{{task.stage.workflow.url}}">{{task.stage.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{task.stage.url}}">{{task.stage}}</a><span class="divider">/</span></li>
  <li><a href="{{task.url}}">{{task}}</a><span class="divider">/</span></li>
  <li class="active">{{taskfile.name}}</li>
</ul>
{% endwith %}
<h1>Viewing File <small>(first .1MB of it)</small></h1>
<dl class="dl-horizontal dl-multicolumn" data-colcount="2">
    <dt>Total Size</dt><dd>{%if cosmos_settings.show_task_file_sizes%}
    {{taskfile.file_size}}{%else%}off{%endif%}
    </dd>
    <dt>Name</dt><dd>{{taskfile.name}}</dd>
    <dt>Format</dt><dd>{{taskfile.fmt}}</dd>
    <dt>Path</dt><dd>{{taskfile.path}}</dd>
    <dt>Persist</dt><dd>{{taskfile.persist}}</dd>
    <dt>Deleted Because<br/>Intermediate</dt><dd>{{taskfile.deleted_because_intermediate}}</dd>
</dl>
<pre class="pre-scrollable">{{output|safe}}</pre>
{%endblock%}
</div>